@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

header{
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

h1{
    font-weight: 200;
    margin: 0;
}

h1 span{
    font-weight: 600;
    margin: 0; 
}

h3{
    font-size: 1rem;
    margin: 0;
}

p{
 color: hsl(229, 6%, 66%);
 font-size: .8rem;
}
   

 .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}

.supervisior{
    border-top: 5px solid hsl(180, 62%, 55%);
    transform: translate(0,50%);
}

.calculator{
    border-top: 5px solid hsl(212, 86%, 64%);
    transform: translate(0,50%);
}

.team{
    border-top: 5px solid hsl(0, 78%, 62%);
}

.karma{
    border-top: 5px solid hsl(34, 97%, 64%);
    
}

.card{
    -moz-box-shadow:    3px 3px 7px 2px #ccc;
    -webkit-box-shadow: 3px 3px 7px 2px #ccc;
    box-shadow:         3px 3px 7px 2px #ccc;
    width: 350px; 
    border-radius: 5px;
    padding: 1.75em;
    margin: 15px;
}

.card img{
    display: block;
    margin-left: auto;
}

.attribution{
    text-align: center;
}

@media (max-width: 1139px){
    .calculator,
    .supervisior{
    transform: translate(0,0);
    }
    header{
        max-width: 400px;
    }
    header p {
        font-size: 1.1rem;
    }
}